.topnav {
    font-family:"roboto";
    font-size: large;
    list-style-type:georgian ;
    margin-inline: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: rgb(24 68 254);
text-align: start;
text-align-last: auto;

}


video{
    margin-inline-end: auto;
    margin-bottom: -350px;
    padding: 1%;

    width: 320px;
    height: 220px;

}
img{
    
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: -350px;
    
}
h1 {
    color: blue;
    background-color: azure;
    letter-spacing: 10px;
}

button {
    color: black; 
    background-color: rgba(166, 166, 210, 0.679);
    margin-left: 5px;
    margin-right: 10px;

}

a {

    color: rgb(255, 255, 255);


    margin-inline: 10px;
    margin: auto;
}

label {
    margin-inline: 10px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

input {
    width: 220px;
    margin-top: 5px;
}